*.DS_Store

*.bbl
*.blg

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
*.fdb_latexmk
*.synctex.gz
writeup/.texpadtmp
workflow.pdf
milestone1/milestone1.pdf
milestone2/milestone2.pdf
proposal/proposal.pdf

final_report/proceedings.pdf
milestone/milestone1.pdf
proposal/intro.pdf
proceedings.pdf
